<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suave.matematch.mapper.UserTeamMapper">

    <resultMap id="BaseResultMap" type="com.suave.matematch.model.domain.UserTeam">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="teamId" column="teamId" jdbcType="BIGINT"/>
            <result property="joinTime" column="joinTime" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,teamId,
        joinTime,createTime,updateTime,
        isDelete
    </sql>
    <select id="getUserListByTeamId" resultType="com.suave.matematch.model.domain.User">
        select u.id, u.avatarUrl, u.username
        from user u
                 join user_team ut on u.id = ut.userId
                 join team t on t.id = ut.teamId
        where t.id = #{teamId}
          and u.isDelete = 0
          and ut.isDelete = 0
        order by u.id desc;
    </select>
</mapper>
